.chooseCoinDiv {
    width: 95%;
    height: 80%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Coin {
    width: 60%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url('../../assets/img/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: 50% 60%;
    /* border: 2px solid white; */
}

.divforshadow1 {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: rgb(48, 35, 131) 0px 9px;
    border: 15px solid hsl(230, 89%, 62%);
    cursor: pointer;
}
.divforshadow2 {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: hsl(39, 67%, 31%) 0px 9px;
    border: 15px solid hsl(39, 89%, 49%);
    cursor: pointer;
}
.divforshadow3 {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: hsl(349, 60%, 31%) 0px 9px;
    border: 15px solid hsl(349, 71%, 52%);
    cursor: pointer;
}

.piecePaper {
    background-color: white;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-image: url('../../assets/img/icon-paper.svg');
    background-repeat: no-repeat;
    background-position: -290% -40%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px 0px inset;
}
.pieceScissors {
    background-color: white;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-image: url('../../assets/img/icon-scissors.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px 0px inset;
}
.pieceRock {
    background-color: white;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-image: url('../../assets/img/icon-rock.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px 0px inset;
}

.divPieces {
    width: 60%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    gap: 80px;
}

.rules {
    /* border: 2px solid green; */
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
}

.rulesModal {
    width: 140px;
    height: 80%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}


